@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
html {
  scroll-behavior: smooth;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@keyframes marqueeLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marqueeRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Her iki yönde de yumuşak, kesintisiz akış */
.animate-marquee-left {
  display: inline-flex;
  animation: marqueeLeft 25s linear infinite;
}

.animate-marquee-right {
  display: inline-flex;
  animation: marqueeRight 25s linear infinite;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
